/* Define la animación de fade-in */
@keyframes fadeInBottom {
    from {
    position: relative;
    bottom: -20px;
    opacity: 0; /* La opacidad inicial es 0 (invisible) */
    }
    to {
    position: relative;
    bottom: 0px;
    opacity: 1; /* La opacidad final es 1 (visible) */
    }
}

.animation-meraki-fade-in-bottom {
    // animation-name: fadeInBottom;
    opacity: 0;
}
  
  