/* Define la animación de fade-in */
@keyframes fadeInTop {
    from {
    position: relative;
    top: -20px;
    opacity: 0; 
    }
    to {
    position: relative;
    top: 0px;
    opacity: 1; 
    }
}

.animation-meraki-fade-in-top {
    opacity: 0;
    // animation-name: fadeInTop;
}
  
  