/* Define la animación de fade-in */
@keyframes fadeInRight {
    from {
    position: relative;
    left: 20px;
    opacity: 0; /* La opacidad inicial es 0 (invisible) */
    }
    to {
    position: relative;
    left: 0px;
    opacity: 1; /* La opacidad final es 1 (visible) */
    }
}

.fade-in-right {
    opacity: 0;
    // animation-name: fadeInRight;
}
  