/* Define la animación de fade-in */
@keyframes toRed {
    from {
    // background-color: inherit;
    color: inherit;
}
    to {
    // background-color: red;
    color: red;
    }
}

.animation-meraki-to-red {
    animation-name: toRed;
}
  